{% extends 'BackendBundle:Default:admin.html.twig' %}

{% block title %}{{ parent() }} - {{ 'control_panel.locations.city.title' | trans }}{% endblock %}

{% block article %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('backend_index') }}">Inicio</a></li>
            <li class="active">{{ 'control_panel.locations.zone.title' | trans }}</li>
        </ol>
        <div class="row">
            <div class="col-xs-1">
                <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-create"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">{{ 'control_panel.search.filter_by' | trans }}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#name">{{ 'control_panel.locations.zone' | trans }}</a></li>
                            <li><a href="#city">{{ 'control_panel.locations.city' | trans }}</a></li>
                            <li><a href="#state">{{ 'control_panel.locations.state' | trans }}</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">
                    <input type="text" class="form-control" name="x" placeholder="{{ 'control_panel.search' | trans }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{ 'control_panel.locations.zone' | trans }}</th>
                    <th>{{ 'control_panel.locations.city' | trans }}</th>
                    <th>{{ 'control_panel.locations.state' | trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for zone in zones %}
                    <tr>
                        <td>{{ zone.name }}</td>
                        <td>{{ zone.city }}</td>
                        <td>{{ zone.city.state }}</td>
                        <td>
                            <a type="button" class="btn btn-danger" style="position: relative; left: 70%;" data-toggle="modal" data-target="#modal-delete-{{ zone.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="controlPanelCreate">{{ 'control_panel.locations.zone.create' | trans }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                            {{ form_row(form) }}
                            <input type="submit" class="btn btn-success" value="{{ 'control_panel.create' | trans }}" />
                        {{ form_end(form) }}
                    </div>
                    {#<div class="modal-footer">#}
                        {#<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'control_panel.close' | trans }}</button>#}
                        {#<input type="submit" class="btn btn-success" value="{{ 'control_panel.create' | trans }}" />#}
                    {#</div>#}
                </div>
            </div>
        </div>
        {% for zone in zones %}
            <div class="modal fade" id="modal-delete-{{ zone.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'control_panel.delete' | trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'control_panel.locations.zone.delete_confirmation' | trans({ '%name%': zone.name }) }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'control_panel.close' | trans }}</button>
                            <a class="btn btn-danger" href="{{ path('backend_locations_zone_delete', {'id': zone.id}) }}">{{ 'control_panel.delete' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        var $addTagLinkCoordinates = $('<a href="#" type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiCoordinates = $('<li style="list-style: none;"></li>').append($addTagLinkCoordinates);

        $(document).ready(function() {

            $('.search-panel .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#","");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            });

            var $collectionHolderCoordinates = $('div.coordinates');
            $collectionHolderCoordinates.before($newLinkLiCoordinates);
            $collectionHolderCoordinates.data('index', $collectionHolderCoordinates.find(':input').length);

            $addTagLinkCoordinates.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolderCoordinates, $newLinkLiCoordinates);
            });

        });

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li style="list-style: none;"></li>').append(newForm);
            $newLinkLi.after($newFormLi);

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().parent().remove();
                return false;
            });
        }
    </script>
{% endblock %}
