{% extends 'BackendBundle:Default:admin.html.twig' %}

{% form_theme form _self %}

{% block title %}{{ parent() }} - {{ 'control_panel.people.physical.title' | trans }}{% endblock %}

{% macro email_prototype() %}
    <div class="form-group well">
        <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_emails___name___email">Email</label>
                    <div class="col-sm-10">
                        <input type="email" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_emails___name___email" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[emails][__name__][email]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_emails___name___description">Description</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_emails___name___description" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[emails][__name__][description]" required="required" maxlength="140" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block _ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_emails_row %}
    <div id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_emails" class="emails" data-prototype="{{ _self.email_prototype()|e }}">
        {% for email in form.children %}
            <div class="form-group well">
                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(email.email) }}
                            <div class="col-sm-10">
                                {{ form_widget(email.email) }}
                            </div>
                            {{ form_errors(email.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(email.description) }}
                            <div class="col-sm-10">
                                {{ form_widget(email.description) }}
                            </div>
                            {{ form_errors(email.description) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% macro phonenumber_prototype() %}
    <div class="form-group well">
        <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers___name___number">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.phonenumbers.prototype.children.number.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers___name___number" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[phonenumbers][__name__][number]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers___name___description">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.phonenumbers.prototype.children.description.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers___name___description" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[phonenumbers][__name__][description]" required="required" maxlength="140" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block _ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers_row %}
    <div id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers" class="phonenumbers" data-prototype="{{ _self.phonenumber_prototype()|e }}">
        {% for phonenumber in form.children %}
            <div class="form-group well">
                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(phonenumber.number) }}
                            <div class="col-sm-10">
                                {{ form_widget(phonenumber.number) }}
                            </div>
                            {{ form_errors(phonenumber.number) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(phonenumber.description) }}
                            <div class="col-sm-10">
                                {{ form_widget(phonenumber.description) }}
                            </div>
                            {{ form_errors(phonenumber.description) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% macro address_prototype() %}
    <div class="form-group well">
        <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___street">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.addresses.prototype.children.street.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___street" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[addresses][__name__][street]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___city">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.addresses.prototype.children.city.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___city" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[addresses][__name__][city]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___zipCode">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.addresses.prototype.children.zipCode.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___zipCode" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[addresses][__name__][zipCode]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___state">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.addresses.prototype.children.state.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___state" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[addresses][__name__][state]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___description">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.addresses.prototype.children.description.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses___name___description" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[addresses][__name__][description]" required="required" maxlength="140" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block _ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_addresses_row %}
    <div id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_phonenumbers" class="addresses" data-prototype="{{ _self.address_prototype()|e }}">
        {% for address in form.children %}
            <div class="form-group well">
                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(address.street) }}
                            <div class="col-sm-10">
                                {{ form_widget(address.street) }}
                            </div>
                            {{ form_errors(address.street) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(address.city) }}
                            <div class="col-sm-10">
                                {{ form_widget(address.city) }}
                            </div>
                            {{ form_errors(address.city) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(address.zipCode) }}
                            <div class="col-sm-10">
                                {{ form_widget(address.zipCode) }}
                            </div>
                            {{ form_errors(address.zipCode) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(address.state) }}
                            <div class="col-sm-10">
                                {{ form_widget(address.state) }}
                            </div>
                            {{ form_errors(address.state) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(address.description) }}
                            <div class="col-sm-10">
                                {{ form_widget(address.description) }}
                            </div>
                            {{ form_errors(address.description) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% macro bank_account_prototype() %}
    <div class="form-group well">
        <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts___name___holder">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.banckAccounts.prototype.children.holder.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts___name___holder" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[bankAccounts][__name__][holder]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts___name___bankAccountNumber">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.banckAccounts.prototype.children.banckAccountNumber.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts___name___bankAccountNumber" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[bankAccounts][__name__][bankAccountNumber]" required="required" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label required" for="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts___name___description">{{ 'form.ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson.children.banckAccounts.prototype.children.description.label' | trans({}, 'forms') }}</label>
                    <div class="col-sm-10">
                        <input type="text" id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts___name___description" name="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson[bankAccounts][__name__][description]" required="required" maxlength="140" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block _ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts_row %}
    <div id="ufuturelabs_ufuturehouse_server_peoplebundle_physicalperson_bankAccounts" class="bankAccounts" data-prototype="{{ _self.bank_account_prototype()|e }}">
        {% for bankAccount in form.children %}
            <div class="form-group well">
                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(bankAccount.holder) }}
                            <div class="col-sm-10">
                                {{ form_widget(bankAccount.holder) }}
                            </div>
                            {{ form_errors(bankAccount.holder) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(bankAccount.bankAccountNumber) }}
                            <div class="col-sm-10">
                                {{ form_widget(bankAccount.bankAccountNumber) }}
                            </div>
                            {{ form_errors(bankAccount.bankAccountNumber) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form_label(bankAccount.description) }}
                            <div class="col-sm-10">
                                {{ form_widget(bankAccount.description) }}
                            </div>
                            {{ form_errors(bankAccount.description) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block article %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('backend_index') }}">{{ 'control_panel.title' | trans }}</a></li>
            <li><a href="{{ path('backend_people_physical_index') }}">{{ 'control_panel.people.physical.title' | trans }}</a></li>
            <li class="active">{{ 'control_panel.people.physical.create' | trans }}</li>
        </ol>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ 'control_panel.people.physical.personal_data' | trans }}</legend>
            {{ form_row(form.firstname) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.secondSurname) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.dni) }}
        </fieldset>
        <fieldset>
            <legend>
                {{ 'control_panel.people.emails' | trans }}
            </legend>
            {{ form_row(form.emails) }}
        </fieldset>
        <fieldset>
            <legend>
                {{ 'control_panel.people.phonenumbers' | trans }}
            </legend>
            {{ form_row(form.phonenumbers) }}
        </fieldset>
        <fieldset>
            <legend>
                {{ 'control_panel.people.addresses' | trans }}
            </legend>
            {{ form_row(form.addresses) }}
        </fieldset>
        <fieldset>
            <legend>
                {{ 'control_panel.people.bankAccounts' | trans }}
            </legend>
            {{ form_row(form.bankAccounts) }}
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-warning" value="{{ 'edit' | trans }}" />
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        var $addTagLinkEmail = $('<a href="#" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiEmail = $('<li style="list-style: none;"></li>').append($addTagLinkEmail);

        var $addTagLinkPhonenumbers = $('<a href="#" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiPhonenumbers = $('<li style="list-style: none;"></li>').append($addTagLinkPhonenumbers);

        var $addTagLinkAddresses = $('<a href="#" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiAddresses = $('<li style="list-style: none;"></li>').append($addTagLinkAddresses);

        var $addTagLinkBankAccounts = $('<a href="#" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiBankAccounts = $('<li style="list-style: none;"></li>').append($addTagLinkBankAccounts);

        $(document).ready(function() {

            $('.remove-tag').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });

            // Get the ul that holds the collection of tags
            var $collectionHolderEmails = $('div.emails');
            var $collectionHolderPhonenumbers = $('div.phonenumbers');
            var $collectionHolderAddresses = $('div.addresses');
            var $collectionHolderBankAccounts = $('div.bankAccounts');


            // add the "add a tag" anchor and li to the tags ul
            $collectionHolderEmails.append($newLinkLiEmail);
            $collectionHolderPhonenumbers.append($newLinkLiPhonenumbers);
            $collectionHolderAddresses.append($newLinkLiAddresses);
            $collectionHolderBankAccounts.append($newLinkLiBankAccounts);


            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolderEmails.data('index', $collectionHolderEmails.find(':input').length);
            $collectionHolderPhonenumbers.data('index', $collectionHolderPhonenumbers.find(':input').length);
            $collectionHolderAddresses.data('index', $collectionHolderAddresses.find(':input').length);
            $collectionHolderBankAccounts.data('index', $collectionHolderBankAccounts.find(':input').length);

            $addTagLinkEmail.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolderEmails, $newLinkLiEmail);
            });

            $addTagLinkPhonenumbers.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolderPhonenumbers, $newLinkLiPhonenumbers);
            });

            $addTagLinkAddresses.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolderAddresses, $newLinkLiAddresses);
            });

            $addTagLinkBankAccounts.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolderBankAccounts, $newLinkLiBankAccounts);
            });

        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li style="list-style: none;"></li>').append(newForm);

            // also add a remove button, just for this example
//            $newFormLi.append('<button type="button" class="close remove-tag">&times;</button>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }
    </script>
{% endblock %}