{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% macro image_prototype() %}
    <div class="form-group" style="margin-top: 15px;margin-bottom: -15px;">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="file" id="housing_images___name___image" name="housing[images][__name__][image]"  style="margin-left:19px;" required="required" accept="image/*" />
            </div>
            <div class="col-sm-1">
                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
            </div>
        </div>
    </div>
{% endmacro %}

{% block _housing_images_row %}
    <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'form.housing.children.images.label' | trans({}, 'forms') }}</label>
        <div id="housing_images" class="images" data-prototype="{{ _self.image_prototype()|e }}"></div>
    </div>
{% endblock %}

{% block _housing_onSale_row %}
    <div class="form-group">
        <div class="checkbox" style="margin-left:15px;">
            <label class="required">
                <input type="checkbox" id="housing_onSale" name="housing[onSale]" required="required" value="1">
                {{ 'form.housing.children.onSale.label' | trans({}, 'forms') }}
            </label>
        </div>
    </div>
{% endblock %}
{% block _housing_forRent_row %}
    <div class="form-group">
        <div class="checkbox" style="margin-left:15px;">
            <label class="required">
                <input type="checkbox" id="housing_forRent" name="housing[forRent]" required="required" value="1">
                {{ 'form.housing.children.forRent.label' | trans({}, 'forms') }}
            </label>
        </div>
    </div>
{% endblock %}

{% block catalogue_widget %}
    <select id="{{ form.vars.id }}" name="housing[{{ form.vars.full_name }}]" class="form-control">
        <option value=""></option>
        {% for choice in form.vars.choices %}
            <option value="{{ choice.label.id }}">{{ (choice.label.value | trans({}, 'catalogues')) }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block catalogue_air_conditioning_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_building_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_clothes_line_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_conservation_status_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_doorway_status_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_emissions_class_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_energy_class_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_furnished_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_garden_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_heating_distribution_widget %}
    {% for choice in form.vars.choices %}
        <div class="radio">
            <label>
                <input type="radio" id="{{ form.vars.id }}" name="housing[{{ form.vars.full_name }}]" value="{{ choice.label.id }}">
                {{ (choice.label.value | trans({}, 'catalogues')) }}
            </label>
        </div>
    {% endfor %}
{% endblock %}

{% block catalogue_heating_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_height_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_hot_water_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_housing_category_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_kitchen_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_new_building_status_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_orientation_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}

{% block catalogue_parking_space_type_widget %}
    {{ block('catalogue_widget') }}
{% endblock %}
