{% extends 'FrontendBundle:Default:frontend.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block header %}
    <div class="header-presentation" style="background-color: {{ company.secundaryColor }}">
        <div class="container">
            <img src="{{ asset('uploads/images/' ~ company.logoPath) }}" width="128px" height="128px" alt="{{ company.name }} logo" />
            <p class="lead">{{ company.name }}</p>
        </div>
    </div>
{% endblock %}

{% block article %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <input type="search" class="form-control search-housing" placeholder="## Buscar viviendas (metros cuadrados, piso, chalet, piscina, garaje) ##" />
            </div>
        </div>
        {% set rowAux = 0 %}
        {% for housing in housings %}
            {% if rowAux == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="well housing-offer">
                    <a href="#">
                        <p><img src="{{ asset('uploads/images/' ~ housing.images.1.path) }}" width="256px" height="200px" class="img-thumbnail" alt="{{ 'housing.image' | trans() }}" /></p>
                        <p>{{ get_housing_type(housing) | trans }}</p>
                        <p>{{ housing.city ~ ' - ' ~ housing.zone }}</p>
                        <p>{{ housing.floorArea }} m<sup>2</sup></p>
                        <p>
                            {% if housing.priceOffer is not null and housing.priceOffer > 0 %}
                                <span class="price-offer">{{ housing.price|localizedcurrency('EUR') }}</span> {{ housing.priceOffer|localizedcurrency('EUR') }}
                            {% else %}
                                {{ housing.price|localizedcurrency('EUR') }}
                            {% endif %}
                        </p>
                    </a>
                </div>
            </div>
            {% if rowAux < 2 %}
                {% set rowAux = rowAux + 1 %}
            {% else %}
                {% set rowAux = 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}