{% extends 'BackendBundle:Default:admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/backend/css/wrapper.css') }}" />
{% endblock %}

{% block wrapper %}
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ path('backend_configuration_index') }}">{{ 'configuration' | trans }}</a>
                </li>
                <li>
                    <a href="{{ path('backend_configuration_company') }}">{{ 'company' | trans }}</a>
                </li>
                <li>
                    <a href="#">{{ 'theme' | trans }}</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            {% block pagecontent %}{% endblock %}
        </div>
    </div>
{% endblock %}

