{% extends "@Backend/Default/admin.html.twig" %}

{% form_theme form _self %}

{% macro image_prototype() %}
    <div class="form-group" style="margin-top: 15px;margin-bottom: -15px;">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="file" id="ufuturelabs_ufuturehouse_server_housingbundle_residence_residencevertical_flat_images___name___path" name="ufuturelabs_ufuturehouse_server_housingbundle_residence_residencevertical_flat[images][__name__][path]" required="required" accept="image/*" />
            </div>
            <div class="col-sm-1">
                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
            </div>
        </div>
    </div>
{% endmacro %}

{% block _ufuturelabs_ufuturehouse_server_housingbundle_residence_residencevertical_flat_images_row %}
    <div class="form-group">
        <label class="col-sm-2 control-label required">{{ 'form.ufuturelabs_ufuturehouse_server_housingbundle_residence_residencevertical_flat.children.images.label' | trans({}, 'forms') }}</label>
        <div id="ufuturelabs_ufuturehouse_server_housingbundle_residence_residencevertical_flat_images" class="images" data-prototype="{{ _self.image_prototype()|e }}">
            {% for email in form.children %}
                <div class="row">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-9">
                                <img src="" height="128px" width="128px" />
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="close remove-tag" style="margin-bottom: 15px;">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block article %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" style="margin-bottom: 30px;" value="{{ 'save' | trans() }}">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        var $addTagLinkImages = $('<a href="#" type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiImages = $('<li style="list-style: none;"></li>').append($addTagLinkImages);

        $(document).ready(function() {

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            });

            var $collectionHolderImages = $('div.images');
            $collectionHolderImages.before($newLinkLiImages);
            $collectionHolderImages.data('index', $collectionHolderImages.find(':input').length);

            $addTagLinkImages.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolderImages, $newLinkLiImages);
            });

        });

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li style="list-style: none;"></li>').append(newForm);
            $newLinkLi.after($newFormLi);

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            });
        }
    </script>
{% endblock %}
