{% extends "@Backend/Default/admin.html.twig" %}

{#{% form_theme form "HousingBundle:Catalogues:catalogues_form.html.twig" %}#}

{% block article %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" style="margin-bottom: 30px;" value="{{ 'save' | trans() }}">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        var $addTagLinkImages = $('<a href="#" type="button" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-plus"></span></a>');
        var $newLinkLiImages = $('<li style="list-style: none;"></li>').append($addTagLinkImages);

        $(document).ready(function() {

            $('form').attr('enctype', 'multipart/form-data');

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            });

            var $collectionHolderImages = $('div.images');
            $collectionHolderImages.before($newLinkLiImages);
            $collectionHolderImages.data('index', $collectionHolderImages.find(':input').length);

            $addTagLinkImages.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolderImages, $newLinkLiImages);
            });

            $('#{{ form.parkingSpacesPriceIncluded.vars.id }}').click(function () {
                $('#{{ form.parkingSpacesPrice.vars.id }}').prop('disabled', this.checked);
            });

        });

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li style="list-style: none;"></li>').append(newForm);
            $newLinkLi.after($newFormLi);

            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().parent().remove();
                return false;
            });
        }
    </script>
{% endblock %}
