{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/backend/css/styles.css') }}" />
{% endblock %}

{% block title %}{{ 'control_panel.title' | trans }}{% endblock %}

{% block body %}
    <header>
        {% block header %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">{{ company.name }}</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('backend_index') }}">{{ 'navbar.home' | trans }}</a></li>
                            <li><a href="#">{{ 'navbar.users' | trans }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'navbar.housing' | trans }}  <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">{{ 'navbar.housing.commercial.archive' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.commercial.commercial_property' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.commercial.storehouse' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.floor.urban' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.floor.non_urban' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.apartment' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.attic' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.duplex' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.firts_floor' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.flat' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.loft' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.penthouse' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.penthouse_duplex' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.vertical.study' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.bungalow' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.castle' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.country_house' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.detached_house' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.house' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.ranch' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.semidetached_house' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.tower' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.townhouse' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.urban_development_detached_house' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.residence.horizontal.villa' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.garage' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.office' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.storage' | trans }}</a></li>
                                    <li><a href="#">{{ 'navbar.housing.warehouse' | trans }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'navbar.people' | trans }}  <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('backend_people_physical_index') }}">{{ 'navbar.people.physical' | trans }}</a></li>
                                    <li><a href="{{ path('backend_people_legal_index') }}">{{ 'navbar.people.legal' | trans }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'navbar.locations' | trans }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('backend_locations_state_index') }}">{{ 'navbar.locations.states' | trans }}</a></li>
                                    <li><a href="{{ path('backend_locations_city_index') }}">{{ 'navbar.locations.cities' | trans }}</a></li>
                                    <li><a href="{{ path('backend_locations_zone_index') }}">{{ 'navbar.locations.zones' | trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">{{ 'navbar.profile' | trans }}</a></li>
                                    <li><a href="{{ path('backend_configuration_index') }}">{{ 'navbar.configuration' | trans }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'login.logout' | trans }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /container-fluid -->
            </nav><!-- /nav-bar -->
        {% endblock %}
    </header>
    <article>
        {% block article %}{% endblock %}
    </article>
{% endblock %}